src/cours_velib/velibDataXSD.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:complexType name="carto">
    <xsd:sequence> 
        <xsd:complexType name="markers">
             <xsd:sequence>     
    
  <xsd:complexType name="marker">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"></xsd:element>
	  <xsd:element name="number" type="xsd:int"></xsd:element>
      <xsd:element name="address" type="xsd:string"></xsd:element>
	  <xsd:element name="fullAddress" type="xsd:string"></xsd:element>
	  <xsd:element name="lat" type="xsd:long"></xsd:element>
	  <xsd:element name="Ing" type="xsd:long"></xsd:element>
	  <xsd:element name="open" type="xsd:int"></xsd:element>
	  <xsd:element name="bonus" type="xsd:int"></xsd:element>
	</xsd:sequence>	
  </xsd:complexType>
  
    <!--<xsd:complexType name="arrondissements">
    <xsd:sequence>
      <xsd:element name="number" type="xsd:int"></xsd:element>
      <xsd:element name="minLat" type="xsd:long"></xsd:element>
	  <xsd:element name="minLng" type="xsd:long"></xsd:element>
	  <xsd:element name="maxLat" type="xsd:long"></xsd:element>
	  <xsd:element name="maxLng" type="xsd:long"></xsd:element>
	</xsd:sequence>
  </xsd:complexType>-->
  </xsd:sequence>
  </xsd:complexType>
  </xsd:sequence>
  </xsd:complexType>
 </xsd:schema>