xml-resources/jaxb/velibXSD/velibDataXSD.xml.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="carto">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="markers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="marker" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:int" name="number" use="optional"/>
                      <xs:attribute type="xs:string" name="address" use="optional"/>
                      <xs:attribute type="xs:string" name="fullAddress" use="optional"/>
                      <xs:attribute type="xs:float" name="lat" use="optional"/>
                      <xs:attribute type="xs:float" name="lng" use="optional"/>
                      <xs:attribute type="xs:byte" name="open" use="optional"/>
                      <xs:attribute type="xs:byte" name="bonus" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="arrondissements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="arrondissement" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="number" use="optional"/>
                      <xs:attribute type="xs:float" name="minLat" use="optional"/>
                      <xs:attribute type="xs:float" name="minLng" use="optional"/>
                      <xs:attribute type="xs:float" name="maxLat" use="optional"/>
                      <xs:attribute type="xs:float" name="maxLng" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>




<!--<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="carto">
        <xsd:complexType>
        <xsd:sequence> 
            <xsd:element name="markers">
                <xsd:complexType>
                <xsd:sequence>     
    
                    <xsd:element  name="marker" maxOccurs="unbounded">
                        <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="name" type="xsd:string"></xsd:element>
                            <xsd:element name="number" type="xsd:int"></xsd:element>
                            <xsd:element name="address" type="xsd:string"></xsd:element>
                            <xsd:element name="fullAddress" type="xsd:string"></xsd:element>
                            <xsd:element name="lat" type="xsd:long"></xsd:element>
                            <xsd:element name="Ing" type="xsd:long"></xsd:element>
                            <xsd:element name="open" type="xsd:int"></xsd:element>
                            <xsd:element name="bonus" type="xsd:int"></xsd:element>
                        </xsd:sequence>	
                                            </xsd:complexType>
                    </xsd:element>


                </xsd:sequence>
                </xsd:complexType>
               </xsd:element>
                               </xsd:sequence>
          </xsd:complexType>
            
            
            <xsd:element name="arrondissements">
                <xsd:complexType>
                <xsd:sequence>     
  
                    <xsd:element name="arrondissements">
                        <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="number" type="xsd:int"></xsd:element>
                            <xsd:element name="minLat" type="xsd:long"></xsd:element>
                            <xsd:element name="minLng" type="xsd:long"></xsd:element>
                            <xsd:element name="maxLat" type="xsd:long"></xsd:element>
                            <xsd:element name="maxLng" type="xsd:long"></xsd:element>
                        </xsd:sequence>
                    </xsd:element>
                </xsd:sequence>
            </xsd:element>
            
            
        </xsd:sequence>
    </xsd:element>
</xsd:complexType>

</xsd:element>
</xsd:schema>!-->